@media (min-width: 768px) and (max-width: 1024px) {

#hero-area .btn{margin-top: 15px;}

.bt-android-link{font-size: 0.7em;}

#br-wrapper{zoom:0.95; top: 18px;}
#br-sc {width: 180px;}
#bro-remote:hover + #br-sc {height: 362px;}

}

@media (max-width: 768px) {

span.step{margin: 0;}

#br-wrapper{zoom:0.9; top: 15px;}
#br-sc {width: 160px;}
#bro-remote:hover + #br-sc {height: 322px;}

}


@media (max-width: 480px) {

.bt-android-link{font-size: 0.7em;}

.well-lg{padding:20px 10px;}

#br-wrapper{zoom:0.8; top: 10px;}
#br-sc {width: 140px;}
#bro-remote:hover + #br-sc {height: 282px;}

}

@media (min-width: 320px) and (max-width: 480px) {

  #hero-area .btn{margin-top: 15px;}

}